<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogToConsole="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="NLog.Targets.ElasticSearch" />
  </extensions>
  <variable name="origin" value="Atlas.Analytics" />
  <variable name="env" value="Development" />
  <targets>
    <target xsi:type="AsyncWrapper" name="asyncElastic" overflowAction="Discard" timeToSleepBetweenBatches="0">
      <target xsi:type="ElasticSearch" name="logElastic"
									uri="${configsetting:name=LogConfig.Elastic}"
									index="logs_atlas_analytics_${date:format=yyyy.MM.dd}"
                  documentType=""
									includeAllProperties="true"
									maxRecursionLimit = "5">
        <field name="logger" layout="${logger}" />
        <field name="exception" layout="${exception:format=toString,StackTrace}" />
        <field name="timestamp" layout="${date:format=o}" />
        <field name="message" layout="${message:raw=true}" />
        <field name="origin" layout="${var:origin}" layoutType="System.String" />
        <field name="hostname" layout="${machinename}" layoutType="System.String" />
        <field name="env" layout="${var:env}" layoutType="System.String" />
      </target>
    </target>
    <target xsi:type="Console" name="console" layout="${date:format=o}|${pad:padding=-6:inner=${level:uppercase=true}}|${logger}|${message}|${exception:format=toString}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="${configsetting:name=Logging.LogLevel.Default}" writeTo="asyncElastic" />
    <logger name="App.Metrics.*" maxlevel="Info" final="true" />
  </rules>
</nlog>